.app-wrapper {
  display: flex;
  min-height: 100vh;
}

.navigation {
  background-color: #e9ece5;
  min-width: 170px;
  * {
    min-height: 30px;
    background-color: #c0dfd9;
    margin: 2px;
  }
  :hover {
    cursor: pointer;
  }
}