.app-wrapper {
  display: flex;
  min-height: 100vh;
}

.navigation {
  background-color: #b3c2bf;
  min-width: 10vw;
  * {
    min-height: 30px;
    background-color: #c0dfd9;
    margin: 2px;
  }
  :hover {
    cursor: pointer;
  }
}

.page-container {
  //background: #e9ece5;
  min-width: 90vw;
  margin-top: 20px;
}