.navigation {
  background-color: #6ed3cf;
  min-width: 10vw;
  * {
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: #c0dfd9;
    margin: 2px;
    transition: background-color 0.5s;
    text-decoration: none;
    font-weight: 600;
    color: #EFF3F8;
  }
  :hover {
    cursor: pointer;
    background-color: #9068be;
  }
}