.coin {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  .coin-checbox {
    margin-right: 10px;
  }
  .coin-name {
    min-width: 150px;
  }
  .coin-updateFrequency {
    max-width: 40px;
    margin: 0 10px;
  }
  .coin-update-btn {
    margin: 0 10px;
    height: 20px;
  }
  .coin-delete-btn {
    height: 20px;
  }
}